@font-face {
	font-family: 'Saira Custom';
	src:
		url('/fonts/saira-regular.woff2') format('woff2'),
		url('/fonts/saira-regular.woff') format('woff');
	font-weight: 400 500;
	font-style: normal;
	font-display: swap;
}
