:root {
	--bg: #f5f5f5;
	--surface: #ffffff;
	--surface-elevated: #ffffff;
	--surface-alt: #f5f5f5;
	--surface-dark: #000000;

	--text: #37474f;
	--text-muted: #4a5568;
	--text-inverse: #ffffff;
	--text-on-surface: #000000;
	--text-on-dark: #ffffff;
	--btn-text: #333333;

	--border: #aaaaaa;
	--border-soft: #b8b5b5;

	--accent: #ff8c00;
	--link: #3b82f6;
	--success: #22c55e;
	--danger: rgba(255, 42, 42, 0.84);

	--shadow: rgba(0, 0, 0, 0.08);

	--menu-bg: #ffffff;
	--menu-text: #37474f;
	--menu-active: #ff8c00;

	--footer-bg: #ffffff;

	--mouse-move-first: rgba(208, 0, 255, 0.479);
	--mouse-move-second: rgba(255, 8, 0, 0.299) 25%;
}

html[data-theme='dark'] {
	--bg: #013220;
	--surface: #f5f5f5;
	--surface-elevated: #013220;
	--surface-alt: #333333;
	--surface-dark: #000000;

	--text: #ffffff;
	--text-btn: #333333;
	--text-muted: #b8b5b5;
	--text-inverse: #013220;
	--text-on-surface: #000000;
	--text-on-dark: #ffffff;
	--btn-text: #ffffff;

	--border: #4a5568;
	--border-soft: #b8b5b5;

	--accent: #ff8c00;
	--link: #3b82f6;
	--success: #22c55e;
	--danger: rgba(255, 42, 42, 0.84);

	--shadow: rgba(0, 0, 0, 0.22);

	--menu-bg: #013220;
	--menu-text: #ffffff;
	--menu-active: #ff8c00;

	--footer-bg: #333333;

	--mouse-move-first: rgba(255, 140, 0, 0.466);
	--mouse-move-second: rgba(255, 140, 0, 0.12) 25%;
}
