@import '@/assets/styles/global/variables.scss';

@property --hue {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@keyframes hue-spin {
	to {
		--hue: 360deg;
	}
}

.btn {
	border: 2px solid transparent;
	border-radius: 0.5rem;
	background: linear-gradient(
		135deg,
		oklch(65% 0.2 var(--hue)),
		oklch(65% 0.2 calc(var(--hue) + 120deg))
	);
	animation: hue-spin 2s ease-in infinite;
	// color: $light-white;
	color: var(--btn-text);
	padding: 0.2rem 0.5rem;
	z-index: 0;
	overflow: hidden;

	transition:
		filter $transition-300,
		border-color $transition-300,
		color $transition-300;

	&:hover,
	&:focus-visible {
		animation-play-state: paused;
		// border: 2px solid $black;
		border: 2px solid var(--border);
	}

	&--transparent {
		position: relative;
		background: transparent;
		// color: $black;
		color: var(--btn-text);
		// border: 2px solid $white;
		border: 2px solid var(--border);
		animation: none;
		z-index: 0;
		isolation: isolate;
		width: fit-content;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			// border-radius: inherit;
			background: linear-gradient(
				135deg,
				oklch(65% 0.2 var(--hue)),
				oklch(65% 0.2 calc(var(--hue) + 120deg))
			);
			opacity: 0;
			transition: opacity $transition-300;
			z-index: -1;
		}

		&:hover,
		&:focus-visible {
			// border-color: $white;
			border-color: var(--accent);
			color: $white;
			// color: var(--text);

			&::before {
				opacity: 1;
			}
		}

		@media (max-width: 48rem) {
			padding: 0.1rem 0.2rem;
			font-size: $px-14;
		}
	}

	&--modal,
	&--pagination {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.4rem;
		// border: 2px solid $black;
		border: 2px solid var(--border);
		background: transparent;
		color: $black;
		// color: var(--text);
		animation: none;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			// border-radius: inherit;
			background: linear-gradient(
				135deg,
				oklch(65% 0.2 var(--hue)),
				oklch(65% 0.2 calc(var(--hue) + 120deg))
			);
			opacity: 0;
			transition: opacity $transition-300;
			z-index: -1;
		}

		&:hover,
		&:focus-visible {
			// color: $white;
			color: var(--text);

			&::before {
				opacity: 1;
			}
		}
	}

	&--up {
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: scale $transition-300;

		&:hover,
		&:focus-visible {
			border: unset;
			scale: 1.2;
		}
	}

	&--pagination {
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.2rem 0.2rem;
		background: transparent;
		border: none;
	}

	&--like {
		border: unset;
		background: transparent;
		animation: none;
		padding: unset;

		transition: scale $transition-300;

		&:hover,
		&:focus-visible {
			scale: 1.2;

			border: unset;
			background: unset;
		}
	}

	&--password {
		border: unset;
		padding: unset;
		background: none;

		transition: scale $transition-300;

		img {
			border-radius: 50%;
			overflow: hidden;
		}

		&:hover,
		&:focus-visible {
			border: unset;
			padding: unset;
		}
	}

	&--sidebar {
		padding: unset;
		background: unset;
		border: unset;

		transition: scale $transition-300;

		&:hover,
		&:focus-visible {
			border: unset;

			animation: none;
		}
	}
}
